@{
    ViewBag.Title = "Thêm lịch chiếu";
}

<div class="container mt-4" style="color:white;">
    <h2 style="color:#ffeb00;">Thêm lịch chiếu</h2>

    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    @using (Html.BeginForm("ThemLichChieu", "Admin_QuanLy", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Chọn phim:</label>
            @Html.DropDownList("PhimID", (SelectList)ViewBag.PhimList, "-- Chọn phim --",
                new { @class = "form-control", id = "ddlPhim" })
        </div>

        <h4 class="mt-4" style="color:#ffeb00;">Lịch chiếu theo phim</h4>
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th>Phòng</th>
                    <th>Thời gian</th>
                    <th>Định dạng</th>
                    <th>Giá vé</th>
                </tr>
            </thead>
            <tbody id="tblLichChieu"></tbody>
        </table>

        <h4 class="mt-4" style="color:#ffeb00;">Lịch chiếu phòng</h4>
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th>Phim</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>Định dạng</th>
                    <th>Giá vé</th>
                </tr>
            </thead>
            <tbody id="tblLichPhong"></tbody>
        </table>

        <h4 class="mt-4" style="color:#ffeb00;">Thêm giờ chiếu</h4>

        <div class="form-group">
            <label>Chọn phòng:</label>
            @Html.DropDownList("PhongID", (SelectList)ViewBag.PhongList, "-- Chọn phòng --",
                new { @class = "form-control", id = "ddlPhong" })
        </div>

        <div class="form-group">
            <label>Thời gian bắt đầu:</label>
            <input type="datetime-local" id="dtBatDau" name="ThoiGianBatDau" class="form-control" required />
            <small id="minInfo" style="color:#ffeb00;"></small>
        </div>

        <div class="form-group">
            <label>Định dạng:</label>
            @Html.DropDownList("DinhDang", (SelectList)ViewBag.DinhDangList,
                new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Giá vé:</label>
            <input type="number" name="GiaVe" class="form-control" min="0" value="95000" required />
        </div>

        <button class="btn btn-warning mt-3">Thêm giờ chiếu</button>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $("#ddlPhim").change(function () {
        let id = $(this).val();

        $.get("/Admin_QuanLy/GetNgayKhoiChieu", { phimId: id }, function (minDate) {
            if (minDate) {
                $("#dtBatDau").attr("min", minDate);
                $("#minInfo").text("Chọn từ: " + minDate.replace("T", " "));
            }
        });

        $.get("/Admin_QuanLy/GetLichChieuTheoPhim", { phimId: id }, function (data) {
            let html = "";
            if (data.length === 0)
                html = "<tr><td colspan='4'>Chưa có lịch chiếu</td></tr>";

            $.each(data, function (i, item) {
                html += `
                    <tr>
                        <td>${item.Phong}</td>
                        <td>${item.ThoiGian}</td>
                        <td>${item.DinhDang}</td>
                        <td>${item.GiaVe}</td>
                    </tr>`;
            });

            $("#tblLichChieu").html(html);
        });
    });

    $("#ddlPhong").change(function () {
        let id = $(this).val();
        $.get("/Admin_QuanLy/GetLichChieuTheoPhong", { phongId: id }, function (data) {
            let html = "";
            if (data.length === 0)
                html = "<tr><td colspan='5'>Phòng trống</td></tr>";

            $.each(data, function (i, item) {
                html += `
                    <tr>
                        <td>${item.Phim}</td>
                        <td>${item.BatDau}</td>
                        <td>${item.KetThuc}</td>
                        <td>${item.DinhDang}</td>
                        <td>${item.GiaVe}</td>
                    </tr>`;
            });

            $("#tblLichPhong").html(html);
        });
    });

</script>
